<div class="container">
  <div class="row">
    <% @duties.each_slice(3) do |row|  %>
      <% row.each do |duty| %>
        <div class="col">
          <div class="card">
            <%= image_tag duty.photo, class: 'card-img-top'  %>
            <div class="body">
              <h5>  <%= duty.name %></h5>
              <p> Last updated <%= time_ago_in_words duty.created_at %> </p>
              <%= link_to "Hacerla", duty_orders_path(duty), class: 'btn btn-success', method: :post %>


            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top:20px"></div>
    <%end  %>
  </div>
</div>
