<div class="row">
  <div class="col-md-7 ">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>#</th>
          <th scope="col">Tarea</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% @orders.each_with_index do |order, i| %>
        <%if order.check %>
          <th> <%= i   %></th>
          <td><%= order.duty.name %></td>
        <%end %>
        </tr>
        <% end %>

      </tbody>

    </table>
  </div>

</div>
